// importacao
@use './variaveis';
@use './classes';

// elementos
body{
    // cor de fundo da pagina
    background-color: variaveis.$corFundo;
}

// ids
#app{
    // retira as margens
    margin: 0;
    padding: 0;
    // tamanho p/ ocupar toda tela
    height: 100vh;
    // disposicao dos itens
    display: flex;
    flex-direction: column;
}